<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @home_page_content.content %>
</p>

<%= link_to 'Edit', edit_home_page_content_path(@home_page_content) %> |
<%= link_to 'Back', home_page_contents_path %>
