<% if @user.first_name && @user.last_name %>
	<div class = "to-hide">
		<p><%= @user.first_name + " " + @user.last_name %></p>
		<%= @user.activity %><br>
		<% if post_count(@user) > 0 %>
			<%= link_to "Authored: #{post_count(@user)} post", "/" + @user.first_name + "-" + @user.last_name + "/posts" %>.
		<% end %>
	</div>
<% end %>