<div class="redactor_ember-view redactor_ember-text-area redactor_redactor redactor_editor" contenteditable="true" dir="ltr" style="min-height: 350px; height: auto;">

<p>​</p><span id="docs-internal-guid-db5f5100-2c7e-b447-ef11-63f87beba063"><p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 17px; font-family: Arial; color: rgb(0, 0, 0); font-weight: bold; font-style: normal; font-variant: normal; white-space: pre-wrap;">A “Growth-Hacking” Trip Across Europe</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">EuroHackTrip is a program that will empower </span><a href="http://eurohacktrip.org/startups" style="text-decoration:none;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">African tech startups</span></a><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"> by taking </span><a href="http://eurohacktrip.org/attendees" style="text-decoration:none;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">10 young entrepreneurs</span></a><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"> for a learning, marketing &amp; networking trip across the European tech scene.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 17px; font-family: Arial; color: rgb(0, 0, 0); font-weight: bold; font-style: normal; font-variant: normal; white-space: pre-wrap;">Why we do it</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">We are motivated to get the exposure, learn, grow our startups, explode our networks, give back to our community, represent Africa in the global tech scene, enrich the ecosystem and inspire other young entrepreneurs in Africa and across the world.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 17px; font-family: Arial; color: rgb(0, 0, 0); font-weight: bold; font-style: normal; font-variant: normal; white-space: pre-wrap;">Who we meet</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">We will meet and interact with more experienced entrepreneurs, investors, tech executives, and the general public as we pitch, network and fundraise for their startups.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 17px; font-family: Arial; color: rgb(0, 0, 0); font-weight: bold; font-style: normal; font-variant: normal; white-space: pre-wrap;">How we do it</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">We will visit innovation centers, successful tech companies and tech events as we participate in discussions, pitch and network. It will be a great experience to learn, exchange ideas, get feedback on our products and pursue opportunities for our startups.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 17px; font-family: Arial; color: rgb(0, 0, 0); font-weight: bold; font-style: normal; font-variant: normal; white-space: pre-wrap;">A Reality Film!</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">The experience and outcome of the whole journey will be recorded as a reality film documentary that will be shared freely to educate and inspire other young entrepreneurs.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 17px; font-family: Arial; color: rgb(0, 0, 0); font-weight: bold; font-style: normal; font-variant: normal; white-space: pre-wrap;">Places We Visit</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><u>Helsinki - 16th - 20th November</u></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Here we will visit Startup Sauna, a startup accelerator, and SLUSH - Focal point for European and Asian tech startups to meet with top-tier international investors, executives and media. </span><a href="http://slush.org/" style="text-decoration:none;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">http://slush.org</span></a><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><u>Amsterdam- 21st - 24th November</u></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Butterfly Works, a co-creation studio that attracts creatives in learning and entrepreneurial branding projects aimed at combating poverty and increasing equality.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><u>Berlin - 25th - 28th November</u></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Co-Up, a co-working space for hardware and software engineers. We will also visit ThingsCon where makers use electrical components and circuits to innovate.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><u>Zurich - 29th - 2nd December</u></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">The Impact Hub in Zurich - “An innovation lab. A business incubator. A learning community.” Here we meet and exchange ideas with other startups doing social impact ventures for a few days.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><br></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 17px; font-family: Arial; color: rgb(0, 0, 0); font-weight: bold; font-style: normal; font-variant: normal; white-space: pre-wrap;">Startups</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><b>BRCK </b><a href="http://brck.com"><b><b>http://brck.com</b></b></a></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Your Backup Generator for the Internet.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Representative: Jackline Koech</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><br></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><b>SokoText </b><a href="http://sokotext.com"><b>http://sokotext.com</b></a></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Fresh Affordable Reliable (food)</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Founder: Suraj Gudka</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><br></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><b>TotoHealth </b><a href="http://totohealth.org"><b>http://totohealth.org</b></a></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Transforming maternal and newborn health using low cost</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">phones - Co-founders: Felix Kimaru, Joseph Mugor</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><br></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><b>FunKe Science </b><a href="http://rockesci.co.ke"><b>http://rockesci.co.ke</b></a></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Changing Attitudes Towards Science Education</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Co-founders: Dennis Njagi, Tracey Shiundu</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><br></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><b>Momentum Core </b><a href="http://momentumcore.com"><b>http://momentumcore.com</b></a></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Social and educational games for Africa.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Co-founder: Denpal Riungu</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><br></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><b>Electrosoft </b><a href="http://electrosoft.co.ke"><b>http://electrosoft.co.ke</b></a></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Smart electronic solutions for productivity.</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Founder: Brian Bosire</span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;"><br></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">CoderHunt <a href="http://coderhunt.com">http://coderhunt.com</a></span></p>

<p dir="ltr" style="line-height:1.6;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Find the best software developers locally.</span></p><span style="font-size: 15px; font-family: Arial; font-style: normal; font-variant: normal; white-space: pre-wrap;">Founders: Timothy Mwirabua</span></span>

</div>