
 <div id="map">
   
 </div>

 <div id = "intro">
  <h1 id = "tagline">
    We are a group of developers and designers from Europe, curious about the emerging African tech hubs.
  </h1>

  <p>
    The trip has started on September 23, and it's been an amazing experience so far! African hackers: Munavutia
    Check out our Blog or Tumblr and see what's happening on Twitter! 
  </p>
</div>

<div id="map">
   
</div>

<hr>
<h1 class = "home-title">5 Weeks / 4 Countries / 9 Hackers</h1>
<hr>


<!-- everything else below here can be a blogpost -->

<!-- <div class="row">
  <div class="span7" style="margin-right:5px;">
  <iframe src="//player.vimeo.com/video/76040355" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </div>
  <div class="span5">
  <div>
  <p style="font-size: 18px; line-height: 1.4">
  	<strong>
  		Since submarine fibre-optic cables connect East Africa to fast, reliable and affordable Internet, the regions tech scene has been leapfrogging: from no net to mobile net in 4 years.
  	</strong>
  	</p>
  	<p>
  		We have been working with people from all over the world, but not yet with hackers from Africa. We want to change that. We believe that it takes personal contacts to establish lasting networks. So we decided to just go there. We will meet, connect and share with our peers, bring together European and African hacking culture, and kick off continuous exchange. We will document our road trip on the web and make a movie about it.
  	</p>
  	</div>
  </div>
</div>
 -->
 <% if HomePageContent.all.count != 0 %>
  <%= raw HomePageContent.first.content %>
 <% end %>

<script type="text/javascript">
  
$(document).ready(function(){ 

  var mapmaker = L.map('map', {
    scrollWheelZoom: false,
    zoomControl: false,
    attributionControl: false,
  }).setView([50.005, -7], 5); 

  L.tileLayer('http://{s}.tile.cloudmade.com/5e9427487a6142f7934b07d07a967ba3/114841/256/{z}/{x}/{y}.png', {
    attribution: 'EuroHackTrip',
    maxZoom: 18,
    opacity: 0.5
  }).addTo(mapmaker);

  var myIcon = L.icon({
  iconUrl: 'assets/bubble-pink.png',
  iconSize: [20, 20],
  iconAnchor: [10, 10],
  labelAnchor: [6, 0] // as I want the label to appear 2px past the icon (10 + 2 - 6)
  });

  // L.marker([51.72703, -0.04395], {
  // icon: myIcon
  // })
  // .bindLabel("London", {
  // noHide: true,
  // direction: 'auto'
  // }).addTo(mapmaker); 

  L.marker([48.89362, 2.37305], {
  icon: myIcon
  })
  .bindLabel("Paris", {
  noHide: true,
  direction: 'auto'
  }).addTo(mapmaker); 

  L.marker([50.76426, 4.79004], {
  icon: myIcon
  })
  .bindLabel("Brussels", {
  noHide: true,
  direction: 'auto'
  }).addTo(mapmaker);

  L.marker([52.32191, 5.18555], {
  icon: myIcon
  })
  .bindLabel("Amsterdam", {
  noHide: true,
  direction: 'auto'
  }).addTo(mapmaker); 

  L.marker([52.45601, 13.27148], {
  icon: myIcon
  })
  .bindLabel("Berlin", {
  noHide: true,
  direction: 'auto'
  }).addTo(mapmaker); 

  L.marker([46.98025, 7.60254], {
  icon: myIcon
  })
  .bindLabel("Zurich", {
  noHide: true,
    direction: 'auto'
  }).addTo(mapmaker); 

});  

</script>
