<% provide(:title, 'Test Page') %>

	<section class="section3 withpadding">
		<div class="container">
                <div class="general-title text-center">
                    <h3>INCLUDED IN OUR PRODUCTS</h3>
                    <p>Quality & Service are not just words for us.</p>
                    <hr>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="servicebox text-center">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-left">
                                <a href="#" class=""> <i class="dm-icon fa fa-money fa-3x"></i> </a>
                            </div>
                            <div class="servicetitle">
                            <h4>Affordable Price</h4>
                            <hr>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
                        </div><!-- service-icon -->
                    </div><!-- servicebox -->
                </div><!-- large-3 -->
                
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="servicebox text-center">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="#" class=""> <i class="dm-icon fa fa-trophy fa-3x"></i> </a>
                            </div>
                            <div class="servicetitle">
                            <h4>Best Quality</h4>
                            <hr>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
                        </div><!-- service-icon -->
                    </div><!-- servicebox -->
                </div><!-- large-3 -->
                                
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="servicebox text-center">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="#" class=""> <i class="dm-icon fa fa-heart-o fa-3x"></i> </a>
                            </div>
                            <div class="servicetitle">
                            <h4>24/7 Support</h4>
                            <hr>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
                        </div><!-- service-icon -->
                    </div><!-- servicebox -->
                </div><!-- large-3 -->

                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="servicebox text-center">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-right">
                                <a href="#" class=""> <i class="dm-icon fa fa-book fa-3x"></i> </a>
                            </div>
                            <div class="servicetitle">
                            <h4>Lifetime Warranty</h4>
                            <hr>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
                        </div><!-- service-icon -->
                    </div><!-- servicebox -->
                </div><!-- large-3 -->
                
    	</div><!-- end container -->
	</section><!-- end section -->
	