<div class = "row">
	<div class="span5 well">
		<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
	</div>

	<div class="span7"></div>
</div>