<% provide(:title, @page.name) %>
<p id="notice"><%= notice %></p>
<p>
<%= raw @page.body %>
</p>

<% if admin_signed_in? %>
	<% if current_admin.email == 'admin@eurohacktrip.org' %>
		<%= link_to 'Edit', edit_page_path(@page) %>
	<% end %>
<% end %>
