#main-wrapper {
	padding: 0px !important;
}

#main-wrapper .homewrap {
	padding: 0px 5% !important;
}

p.tag_line {
	display: inline;
	vertical-align: top;
}
.carousel{
	height: 350px;
}
.carousel article{
	vertical-align: top;
}
#footer{
	padding: 0 5%;
}
#banner{
	padding: 5em 0;
}
ul.links li:first-child{
	border: none;
}
.mids{
	margin: 0 5%;
}
.posts{
	margin-top: 15px;
}