/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require social-share-button
 * require bootstrap
 * require bootstrap-theme
 *= require_self
 *
 *= require_tree .
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


.post-details {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #333333;
	//word-break: break-all;
	//word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.name {
	display: block;
	overflow: hidden;
	width: 100%;
	font-size: 23px;
	line-height: 30px;
	text-overflow: ellipsis;
	font-weight: bold;
}

textarea {
	width: 80%;
	height: 120px;
}	
