/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require leaflet
 *= require bootstrap-wysihtml5
 *= require_self
 *= require bootsy
 *= require_tree .
 */
body {
	padding-top: 40px;
	background-color:#FBF8EF;
}

h2 {
	font-size: 28px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 5px 0 5px 0;
	//border-bottom: 1px solid #d1d1d1;
}

p {
	margin: 0 0 10px;
	line-height: 1.6em;
	display: block;
	font-size: 18px;
}

footer#page-footer {
margin-bottom: 0;
border-radius: 0;
background: #383838;
padding: 0 0 40px 0;
color: #999;
}

.links, a {
	color: #F06361;
}
a {
	color: #F06361;
}
.map {
	width:100%; 
	height:220px; 
	margin-bottom:10px;
}
.main {
//padding-bottom: 30px;
max-width: 960px;
margin-top: 25px;
}

.row {
margin-left: -15px;
margin-right: -15px;
}

.col-md-3 {
width: 25%;
}

footer#page-footer h3 {
font-size: 16px;
font-weight: normal;
padding: 40px 0 5px 0;
margin: 0 0 10px 0;
color: #f06361;
}

footer#page-footer ul {
padding: 0;
list-style: none;
}

footer#page-footer li {
line-height: 1.6em;
}