// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post, .comment {
	border-bottom: 1px solid #ebebeb;
	padding: 8px 5px;
}

.hidden-links {
	display: none;
}
.to-hide.hover .hidden-links {
	display: inline;
}
.to-hide.hover {
	background: #FAFAFA
}

.page-views {
	margin-bottom: 10px;
	//width: 50%;
}

.tbl {
	height: 40px;
	width: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}

.pv-row {
	margin: 0;
	padding: 5px;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}