// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map { 
height: 250px; 
}
h1#tagline {
font-size: 23px;
line-height: 1.5;
font-weight: bold;
color: #000;
}

#intro {
top: 140px;
width: 45%;
//padding: 20px 0px 0px 0px;
}

#teaser {
font-size: 16px;
margin-bottom: 35px;
}

.home-title {
color: #000;
font-size: 22px;
margin-bottom: 30px;
}
