// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.admin {
	font-size: 10px;
}
.posts.hover .admin {
	display: inline;
}
form .row{
	min-height: 750px;
}
.posts{
	min-height: 250px;	
}
